# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
#include stdio.h
#include cs50
void rec (int    n );

int main (void){
         rec (5);
}

void rec (int    n ) {
if rec (n==0){ 
return;
}

printf (“ welcome brother in your world \n”);
 rec (n - 1);
} 
